* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 50%;
  height: auto;
}

.game-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
}

.game-board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 2fr);
  border: 1px solid black;
  gap: 2px;
  padding: 2px;
  background-color: blue;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  border: 1px solid grey;
  background: gray;
  cursor: pointer;
}
